<ion-header>
  <ion-toolbar>
    <ion-title>
      Criar.art Promo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img
      alt="caneca sono inglês"
      src="//cdn2.madeiramadeira.com.br/caneca-soco-ingles-rock-and-roll170171233-181-1.jpg"
    ></ion-img>

    <ion-card-header>
      <ion-card-subtitle>Caneca 100% Rock</ion-card-subtitle>
      <ion-card-title>Promo 30% OFF</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="danger" fill="outline">Remover</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img
      alt="caneca daredevil"
      src="//images.madeiramadeira.com.br/product/images/56298020-caneca-soco-ingles-demolidor334519273-181-1-600x600.jpg"
    ></ion-img>

    <ion-card-header>
      <ion-card-subtitle>Caneca Demolidor</ion-card-subtitle>
      <ion-card-title>Promo 15% OFF</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="danger" fill="outline">Remover</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="tertiary" routerLink="/addpromo">
    <ion-icon icon="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
