<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        inputmode="email"
        pattern="email"
        placeholder="meuemail@fiap.com"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password" pattern="password" required></ion-input>
    </ion-item>
    <ion-button expand="full" color="tertiary">
      Gravar
    </ion-button>
  </form>
</ion-content>
