<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="tertiary"
        defaultHref="/"
        text="Voltar"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>
      Nova Promoção
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input placeholder="PROMO 30% OFF" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Subtítulo</ion-label>
      <ion-input placeholder="Meu produto incrível" required></ion-input>
    </ion-item>
    <ion-button expand="full" color="tertiary">
      Gravar
    </ion-button>
  </form>
</ion-content>
